
    <div id="div-form">
        <h2>Cadastro da Corrida</h2>
    
        <form id="form-atleta">
    
            <label for="descricao-da-corrida">Descreva sobre a corrida feita:</label>
            <textarea type="text" name="nome" id="nome" class="input01" required maxlength="80" placeholder="informe seu nome" placeholder="ex: "> </textarea>
    
            <label for="nome">data da Corrida</label>
            <input type="date" name="data" id="data" class="input02">
    
            <label for="sexo">Distância Disponível</label>
            <input type="radio" name="sexo" id="sexoM" class="btnSelecao" value="M" > 5km
            <input type="radio" name="sexo" id="sexoF" class="btnSelecao" value="F" > 10km
            <input type="radio" name="sexo" id="sexoN" class="btnSelecao" value="N" > 25km
    
    
            <div id="div-btns">
                <button type="submit" id="btnAdd" > Cadastrar a corrida!</button>
            </div>
    
        </form>
    </div>

